.form-input-control {
  display: flex;
  width: 100%;

  > input {
    flex: 1;
    min-width: 0;
    height: 96px;
    color: #333;
  }

  > .input-clear-action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 96px;
    padding-left: 16px;

    .clear-icon {
      position: relative;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #ddd;

      &:before, &:after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 25%;
        left: calc(50% - 2px);
        height: 50%;
        width: 4px;
        background-color: #fff;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

.form-input-control-placeholder {
  color: #999;
}
